build
.waf*
.lock-wscript
.lock-wafbuild
aprs.db
Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile.in
config.log
config.status
Makefile
src/Makefile
src/*.o
src/aprsmap

